<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.sumscore.dao.YearLeaderDao">

    <resultMap id="YearLeaderVO" type="net.lab1024.smartadmin.module.business.sumscore.domain.vo.YearLeaderVO"></resultMap>
    <resultMap id="YearLeaderExcelVO" type="net.lab1024.smartadmin.module.business.sumscore.domain.vo.YearLeaderExcelVO"></resultMap>


    <select id="queryByPage" resultMap="YearLeaderVO">
        select
          id,
          u_id,
          item1,
          item2,
          item3,
          item4,
          item5,
          item6,
          item7,
          item8,
          item9,
          item10,
          item11,
          item12,
          approval,
          approvalperson,
          approvaltime,
          total,
          quarter,
          year,
          is_delete,
          model_id,
          update_time,
          create_time
        from t_score_year_leader
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.uId != null">
                AND u_id = #{queryDTO.uId}
            </if>
            <if test="queryDTO.year != null and queryDTO.year != ''">
                AND year = #{queryDTO.year}
            </if>
            <if test="queryDTO.quarter != null">
                AND quarter = #{queryDTO.quarter}
            </if>
            <if test="queryDTO.approval != null">
                AND approval = #{queryDTO.approval}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="YearLeaderExcelVO">
        select
           id,
           u_id,
           item1,
           item2,
           item3,
           item4,
           item5,
           item6,
           item7,
           item8,
           item9,
           item10,
           item11,
           item12,
           approval,
           approvalperson,
           approvaltime,
           total,
           quarter,
           year,
           is_delete,
           model_id,
           update_time,
           create_time
        from t_score_year_leader
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.uId != null">
                AND u_id = #{queryDTO.uId}
            </if>
            <if test="queryDTO.year != null and queryDTO.year != ''">
                AND year = #{queryDTO.year}
            </if>
            <if test="queryDTO.quarter != null">
                AND quarter = #{queryDTO.quarter}
            </if>
            <if test="queryDTO.approval != null">
                AND approval = #{queryDTO.approval}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="YearLeaderExcelVO">
        select
         id,
         u_id,
         item1,
         item2,
         item3,
         item4,
         item5,
         item6,
         item7,
         item8,
         item9,
         item10,
         item11,
         item12,
         approval,
         approvalperson,
         approvaltime,
         total,
         quarter,
         year,
         is_delete,
         model_id,
         update_time,
         create_time
        from t_score_year_leader
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from t_score_year_leader where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from t_score_year_leader where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>